[2014-05-05 03:41] twicksell opened #1 "Can't provide custom injector to ModuleRegistryConfiguration"
Need some method to provide a pre-constructed Injector to ModuleRegistryConfiguration. There will be some cases (see Netflix's Governator) where we'd like to take ownership of creating the Injector, but still have bindings from the injector created as beans in the AppContext.

[2015-01-13 14:19] dsyer opened #2 "Provide support for Injector.createChildInjector()"

[2015-07-07 12:11] archie-sh opened #3 "Way to close the applicationContext"
Hi, I am using the play Framework which performs auto-reloads and has guice integrated in it. I got spring data beans that have a datasource i.e. Elasticsearch but no way to shut down the applicationContext between reloads which leads to a memory leak.

[2015-10-14 06:54] FrEaKmAn commented on #3
Which version of Play are you using? If 2.4, then you can close it with adding ApplicationLifecycle https://www.playframework.com/documentation/2.4.x/JavaDependencyInjection#Stopping/cleaning-up

[2015-12-11 03:21] RaviH opened #4 "Support for latest Spring release version 4.2.0"
I love your work and I am using it at my work. Finally I can use Spring Modules!!!

I was wondering if I could ask you for a favor and see if you would be able to support latest Spring 4.2.0 version? I notice the code is configured to use 4.0.3.RELEASE.

That would be a huge help!

[2016-02-04 11:40] dsyer commented on #4
It looks like there are test failures if we update to Spring 4.2. Need to check what is happening.

[2016-02-04 18:03] RaviH commented on #4
Thank you Dave!

[2016-03-01 07:56] pizeta74 commented on #4
Tests work fine up to Spring 4.0.6.
From Spring 4.0.7 it seems something has changed to DI engine in Spring.

[2016-03-15 12:24] lglossman opened #7 "Support @Named beans"
I have several spring named beans that I want to be able to use from Guice. Is it possible right now?

[2016-04-04 10:47] dsyer commented on #4
Fixed in 72cf525

[2016-04-04 10:47] #4 closed

[2016-04-04 10:48] dsyer commented on #7
What did you try that didn't work? Did you read the README in this project?

[2016-04-04 10:51] #3 closed

[2016-04-05 19:37] twicksell commented on #2
@dsyer what did you have in mind here for this issue?

[2016-04-05 21:37] dsyer commented on #2
I'm really very open to suggestion. It's part of the Guice API, but not one that has a direct parallel in Spring (child contexts I guess).

[2016-04-05 21:50] twicksell commented on #2
I thought you might have an idea that I could just implement :)

The concepts and goals I think are the same between child injectors and child contexts. I just can't think yet of a way to leverage them in the context of bridging Spring and Guice. It may just be a bit too early to tell.

[2016-06-01 11:41] lglossman commented on #7
Let's say I have this Spring managed bean created this way:
`
@Bean(name = "PushActor")
public ActorRef getPushActor() {
   ....
   return bean;
}
`
I have many of the above beans all of the same type (ActorRef) but different names,
I want to be able to inject this bean using the Guice injector. The documentation says nothing about this but inspecting the code i found some TODOs about this.

Thank

[2016-08-02 05:25] RaviH commented on #4
Hey Dave, noticed that the bug is closed. Thank you for fixing it. What's the release version this code is fixed under?

Thanks again!

[2016-08-03 12:41] dsyer commented on #4
AFAIK there hasn't been a release of this project yet. If you are using it and find that it works, that will be useful feedback when we are trying to decide on the roadmap.

[2016-08-03 19:35] RaviH commented on #4
I am using it. However since it doesn't have a release we had to fork/clone it and create an internal release. Having a release and roadmap would be a great addition.

Thank you for your work!

[2016-08-30 18:40] vikasramachandran opened #9 "Dependency Injection of play.Application failing"
Dependency Injection of play.Application failing with below error

[code]

My controller code snippet is below

[code]

When i remove `@Component` from the controller playApp getting injected.
but when i remove `@Component` , the `@Transactiona`l annotation have no effect

Finally I figured out that the `@ComponentScan` causing issue .
For a work around I just removed the `@Component` annotation f

[2016-12-12 17:17] paskos opened #10 "cyclic dependencies exception when using spring-guice with spring-boot"
Hi,

I want to use spring-guice to wrap an existing guice based application into a spring-boot executable. I'm starting with a proof of concept.

I use:
- spring-boot 1.5.0.BUILD-SNAPSHOT
- spring-guice 1.0.0.BUILD-SNAPSHOT

I have a guice module & Configuration

[code]

[code]

PS: is this project still alive ?

[2017-05-21 07:48] dsyer commented on #1
Fixed via #6

[2017-05-21 07:48] #1 closed

[2017-05-21 12:34] dsyer commented on #10
You have a `@Bean` which is the same type as your `@Configuration` class. Looks like that's a mistake on your part.

[2017-05-21 12:40] dsyer commented on #9
It's not really possible to say what your issue is without a complete sample. Can you paste a link to your code in github?

[2017-05-21 14:33] twicksell opened #12 "SpringModule does not accept dependencies from wrapping Injector"
SpringModule's ApplicationContext is unaware of the dependencies available in the wrapping Injector. Normally, when installing a Module, the bindings provided there could Inject bindings defined in other Modules installed in the Injector.

Currently, its ApplicationContext is refreshed much earlier than Guice's similar lifecycle phase, so it doesn't seem possible to implement this under the curren

[2017-05-21 14:54] dsyer commented on #12
Yeah, that was an experiment. If you can do a better job, have at it.

[2017-05-24 16:33] dsyer commented on #12
What if we turn the question round a bit. Instead of creating the `Injector` using static convenience methods in `Guice`, you could pull one out of the Spring application context. Thus, in your new test, you would replace this:

[code]

with this

[code]

The Spring context can then be created however you like (including with Spring Boot if necessary) and it can take advantage of any existing Guic

[2017-05-24 16:36] dsyer commented on #12
You can even do it in one line with Spring Boot

[code]

[2017-05-24 16:42] dsyer commented on #12
(I added your test to master in 5708ba0 with the change above.)

[2017-05-24 17:11] twicksell commented on #12
Thats a handy way of doing it if you control (or are willing to change) the creation of the Injector, but unfortunately thats not what I'm dealing with at the moment. Over here we have a large number of existing Guice based apps, already creating an Injector (not even Guice, but Governator, so already wrapped). In those Applications we have several libraries being crafted by different teams, some

[2017-05-24 17:17] dsyer commented on #12
Well, from a Spring point of view you can actually `@Import` a Guice module. So maybe it would be better to fix Govenator?

Or we can take yet another perspective then, and ask why this fails:

[code]

If that would work, you could create the Spring context first and pass it into your favourite convenience method.

[2017-05-24 17:23] twicksell commented on #12
`new SpringModule(context)` fails because everything in that context is eagerly instantiated. If a dependency is missing (that would've otherwise been provided by the Injector in which you're installing the SpringModule) your context will fail to be created with a `NoSuchBeanDefinitionException`. The user could create the context in a mode that doesn't auto-refresh, set the `AutowireCandidateResol

[2017-05-24 21:19] twicksell opened #14 "SpringModule doesn't bind Parameterized Types"
SpringModule binds beans for all of their interfaces. However, it does not bind generic interfaces. To AbstractCompleteWiringTests, add the following:
[code]

To SpringModuleWiringTests add the following:
[code]

[2017-05-24 21:22] twicksell commented on #14
Proposed fix would be a bit of a refactor, but mostly revolves around moving SpringModule's usage of Class to Type, and doing something like:
[code]
Working on a PR now, just trying to get past a couple of regressions.

[2017-05-26 09:03] dsyer commented on #12
That wasn't what I meant (the code I posted blows up independent of how you create the Spring context). I was just showing that there are things going on in Guice that I don't understand.

Maybe we can move forward if you can describe your use case in more detail? How come you can't pull all the modules that you need into a Spring context, before creating an `Injector`? I assume it must be an impl

[2017-05-26 14:00] twicksell commented on #12
Ah, sorry I missed that. No, its not a Governator or Guice thing, just a practicality that we keep running into when working with applications that are already written in Guice.

In your version of the test, you've created a situation where all dependencies are defined in Spring, constructed in Spring, and then presented back as an Injector. But the heart of the test for me is the ability to have

[2017-05-26 14:33] dsyer commented on #12
So in your example, what is the contract of the Spring library? What does it provide? I assume it has classes that implement a feature that it wants to share with other (non-Spring) apps, and it expresses that as a public class with `@Inject` points. What does it get from Spring in that case? If it knows it is going to be consumed by Guice it could provide a `Module` I guess. Is that what you want

[2017-05-26 15:41] twicksell commented on #12
Yes.

This is the case. We have factions of developers both writing pure Spring and pure Guice. They're sharing code on how to communicate between their apps by writing "client libraries", not in the sense of utility functions like Guava, but in the sense of providing some kind of business logic and making assumptions about what dependencies will be available to them. That library may expect thing

[2017-05-26 15:45] dsyer commented on #12
Not necessary (and it's nearly the weekend here anyway). If you could push a simple sample app + with a library to github that would help me get up to speed when I get back to it.

[2017-05-31 23:43] twicksell commented on #12
Quick and dirty example > https://github.com/twicksell/spring-guice-failing-example
This fails with the current implementation, but passes with my PR. Run the main method in the "Main" class.

[2017-06-01 07:44] dsyer commented on #14
Fixed in c42ba69

[2017-06-01 07:44] #14 closed

[2017-06-01 10:15] dsyer commented on #12
OK, so I merged the PR (490fc20) and extracted the code that creates a bean factory out into a `BeanFactoryProvider` convenience class. That way the `SpringModule` doesn't change its contract (except for picking up a new constructor).

There's a TODO in there about how to close the `ApplicationContext` if you have any bright ideas (Guice doesn't really have an end of life callback, does it?).

[2017-06-01 10:15] #12 closed

[2017-06-01 12:31] twicksell commented on #12
Thanks!

No, Guice has no lifecycle management. I think the best compromise is to add a binding  either to the ApplicationContext, or preferrably some new interface we create that wraps the ApplicationContext and allows the user to close it manually. SpringGuiceContextManager.close() or something like that. That would at least give people who've implemented a Lifecycle feature on top of Guice a wa

[2017-06-01 14:35] dsyer commented on #12
OK, thanks for the info. There's a 1.0.0.M1 if you want a stable build (I mainly did that to test the CI pipeline, but it might be a useful side effect for you). Let me know if it's working.

[2017-06-01 18:16] twicksell commented on #12
👍 Works like a charm, thanks!

[2017-06-01 20:38] twicksell opened #18 "NullPointerException in SpringModule when using Spring Boot JPA"
Something interesting about the following bean definition:

[code]
This results in an NPE at https://github.com/spring-projects/spring-guice/blob/master/src/main/java/org/springframework/guice/module/SpringModule.java#L105 because `beanFactory.getType(name)` returns null for that particular definition.

Not sure if the best course of action is a simple null check, or if there is some smarter way t

[2017-06-10 09:08] dsyer commented on #18
Fixed in #19

[2017-06-10 09:08] #18 closed

[2017-07-26 18:43] twicksell opened #20 "GuiceModuleMetatdata throws java.io.FileNotFoundException on parameterized types"
GuiceModuleMetadata throws java.io.FileNotFoundException when it encounters a parameterized type. It is currently just using Type.getTypeName() which includes the type information, and so it later fails when `org.springframework.core.type.classreading.SimpleMetadataReader` attempts to find the class by name.

[2017-07-31 18:00] twicksell commented on #20
@dsyer hey Dave, mind giving this a look when you get a chance?

[2017-08-01 06:03] dsyer commented on #20
Fixed via #21

[2017-08-01 06:03] #20 closed

[2017-09-07 12:28] elevenfang opened #22 "Usage for the case of "using existing guice modules in spring application context""
From your example of using existing Guice Modules in a Spring ApplicationContext
[code]

1. Here I think no need to extend AbstractModule.

2. When we inject the service which is defined in MyModule, use inject annotation would get null while autowired would be fine.(A little confused on when use inject and when use autowired after integration spring and guice)

[code]

[code]

[2017-10-07 12:56] YounesRahimi opened #23 ""No primary bean definition for type" exception when Using @Transactional and @EnableTransactionManagement annotations"
I'm using Kotlin 1.1.4-3 and Guice and Spring Data JPA 2.0.0.RELEASE in a Play Framework (Java version) project. Play Framework version is 2.5.8.

I used [spring-projects/spring-guice](https://github.com/spring-projects/spring-guice#registering-spring-configuration-classes-as-a-guice-module) library and specifically the method which is named **Registering Spring Configuration Classes as a Guice Mo

[2017-12-12 16:51] mattmetlis opened #24 "ArrayStoreException using excludeNames in GuiceModule annotation"
I get an ArrayStoreException when using the 'excludeNames' parameter in the GuiceModule annotation. In GuiceModuleRegistrar.java, line 140 attempts to convert excludeNames (a Collection of Strings) to an array of Patterns. It should instead attempt to convert excludeNames to an array of Strings as it does with includeNames 2 lines above.

[2017-12-21 12:02] agoel2 opened #26 "org.springframework.context.ApplicationListener<T> cannot be used as a key; It is not fully specified"
From your example of using existing Guice Modules in a Spring ApplicationContext
[code]

I get the following error

org.springframework.context.ApplicationListener<T> cannot be used as a key; It is not fully specified

at com.google.inject.internal.Errors.throwCreationExceptionIfErrorsExist(Errors.java:470) ~[guice-4.1.0.jar:?]

[2017-12-21 14:20] agoel2 commented on #26
@dsyer are you able to help please

[2017-12-21 16:01] dsyer commented on #26
Do you have a complete sample to share?

[2017-12-21 16:03] #24 closed

[2017-12-21 16:11] agoel2 commented on #26
Its literally just this. My intention is to be able to try and use guice bound beans from a jar in our spring application. As soon as I put in the Configuration and EnableGuiceModules annotations and start the server , I get that exception
[code]

Full Stacktrace

com.google.inject.CreationException: Unable to create injector, see the following errors:

1) org.springframework.context.ApplicationLi

[2017-12-21 16:14] dsyer commented on #22
1. Correct (I fixed the README).

2. Don't know. `@Inject` is always a synonym for `@Autowired` isn't it?

[2017-12-21 16:16] dsyer commented on #26
Maybe try making the module a `@Bean` instead (as suggested in #22)?

[2017-12-21 16:18] dsyer commented on #26
There's a test that is green (see above). If you have one that fails please post a full sample.

[2017-12-21 16:21] dsyer commented on #23
How about if you use `@EnableTransactionManagement(proxyTargetClass=true)`?

[2017-12-21 16:54] agoel2 commented on #26
I tried making the module @Bean too , but it didn't help.
As soon as I put in the @Configuration annotation , server start up gives me that error.

[code]

[2017-12-21 17:19] dsyer commented on #26
If you can post a full sample we can analyze it. The snippets you posted so far look identical to tests that pass.

[2017-12-22 08:41] #22 closed

[2017-12-22 08:44] dsyer commented on #9
I assume `Controller` is part of the Play framework, so probably it is instantiated and managed by Play. I guess it's not a good idea to try and have Spring manage it as well.

[2017-12-22 08:44] #9 closed

[2017-12-22 08:44] dsyer commented on #10
No response. Assume the cycle is resolved when the `@Bean` is removed.

[2017-12-22 08:44] #10 closed

[2017-12-22 08:46] dsyer commented on #23
N.B. the OP in #9 says he had `@Transactional` working in Play. So it probably does work if you do what I suggested.

[2018-01-31 22:58] tcellucci commented on #26
I have a clean example of the 'not fully specified' issue:
[code]

[2018-01-31 23:07] tcellucci commented on #26
the underlying cause seems to be in SpringModule.bind(), which is working with BeanFactory.getType().  Since that method returns only the raw class rather than a ResolvableType, SpringModule's attempt to create a binding for each of bean type's generic interfaces is not going to work.  More concretely in the example above, SpringModule will attempt to bind the FooImpl bean with a generic interface

[2018-02-01 09:04] #26 closed

[2018-02-01 09:06] dsyer commented on #26
I don't know if that fix is completely general (we can't deal with multiple beans of the same type but with different type parameters, for instance), but your test passes now (as do all the others).

[2018-02-01 10:48] agoel2 commented on #26
Thank you for the fix. Can you please let us know when would this be released ?

[2018-02-01 11:29] dsyer commented on #26
1.1.0.RELEASE is available now (or via snapshots). I had to bump the versions because we are using JDK8 APIs.

[2018-02-01 11:30] #23 closed

[2018-02-01 13:00] dsyer commented on #26
http://repo1.maven.org/maven2/org/springframework/guice/spring-guice/1.1.0.RELEASE/

[2018-02-22 15:47] twicksell opened #28 "Log warning when GuiceModuleMetadata skips types due to visibility"
SpringModule filters types that are not visible. However, when this happens, Guice will attempt to construct the type on its own using just in time bindings. This usual leads to strange behaviors, such as singletons being instantiated by both Guice and Spring. Suggest at least logging a warning to make people aware that SpringModule will not be passing the binding to Guice when the type is not vis

[2018-02-22 15:49] twicksell opened #29 "BeanPostProcessors are not applied when using Spring Guice"
In cases where a Guice provided Bean depends on a Spring bean which has a BeanPostProcessor applied (such as Spring Boot's `@ConfigurationProperties` beans), the bean is instantiated and handed to dependencies *before* the BeanPostProcessor is applied.

[2018-02-22 15:56] twicksell opened #30 "Feature: Dedupe bindings between Guice and Spring"
Since Guice cannot support duplicate bindings, if a user installs a Guice Module which binds type Foo, and also defines a spring `@Bean` of type Foo, the Injector creation will fail. This is normal for Guice users, but not what you would typically expect in Spring. In Spring, we expect the user provided Bean to simply overwrite the other when they are of the same name and type.

We've found it use

[2018-02-22 16:18] dsyer commented on #29
See #29

[2018-02-22 16:18] #29 closed

[2018-02-27 16:00] sblommers opened #32 "PrivateModule not working since 1.1.1"
I was using private modules with 1.1.0 and now with 1.1.1 i get this error.

[code]
I tried annotating them or using `@Named` instead of a custom annotation class but I had to expose my bindings without annotations (free-for-all) to make it work again.

Are there plans to allow Private Guice Modules and using them with `@Named` and `@Custom` ?
Should I rollback to 1.1.0 ?

Thanks for this project!

[2018-02-27 16:51] dsyer commented on #32
@twicksell thinks he might have fixed it in his latest PR. Try a snapshot when the build goes green.

[2018-02-28 07:14] sblommers commented on #32
I tested with latest snapshot and have the same end result, I have to expose the bindings without annotations to make it work now. I can live with this limitation but was wondering the difference between 1.1.0 and 1.1.1 in this case.

[2018-02-28 16:12] twicksell commented on #32
I've written a short test for PrivateModules and it looks like they're not being picked up at all in this current version. We recently switched to using an ElementVisitor to detect bindings, and I completely missed the steps for handling private elements. I can work on re-adding that functionality, but at the moment I'm still unable to fully reproduce the issue you're describing.

If you could pro

[2018-02-28 16:28] sblommers commented on #32
it reads as if it has a duplicate but it is the normal error when guice cannot find it's binding due to wrong annotation/expose usage, it just says it cannot find the binding with or without the correct annotation on the @inject or @autowire.

[2018-02-28 17:38] twicksell commented on #32
@sblommers would you mind having a look at https://github.com/spring-projects/spring-guice/pull/33 and seeing if there is anything about my test case that might be missing or different from yours?

[2018-02-28 18:28] sblommers commented on #32
You are fast! The test seems to cover my case as well. Thank you for fixing this!

[2018-03-01 10:08] #32 closed

[2018-03-01 10:08] dsyer commented on #30
Closed via #34

[2018-03-01 10:08] #30 closed

[2018-03-01 10:09] dsyer opened #35 "Test failures when spring.guice.dedup=true"
Some of the existing tests fail with a nasty looking crash if `spring.guice.dedup=true` (which isn't the default, but shouldn't cause issues).

[2018-03-01 11:10] dsyer commented on #35
Fixed in #36

[2018-03-01 11:10] #35 closed

[2018-03-01 15:59] twicksell opened #37 "InjectorCreation timing issue when a Guice provided dependency is used in a FilterRegistrationBean"
When using Spring Boot, and an embedded servlet container, and having a Filter which depends on a Guice provided bean, the app will crash as the injector has not yet been created yet. Need to bump the creation lifecycle up a little higher.

[2018-03-02 10:00] sblommers commented on #32
@twicksell @dsyer is release 1.1.2 artifact going to be available on spring.io repos?

[2018-03-02 10:14] dsyer commented on #32
It's syncing to Maven Central now (I forgot to press the button).

[2018-03-02 10:18] sblommers commented on #32
Thanks ;-)

[2018-03-02 18:50] RaviH opened #39 "Any update on providing help for @Named"
Hello,

I have been trying to resolve not being able to work with `@Named` for past couple hours. Should have read the docs first! ;-)

From the docs:

Any update on this? It would be hugely helpful.

Thanks in advance.

[2018-03-21 20:26] twicksell commented on #39
Could you show us a little bit about how you're using this? By default, the name of your bean will be translated across as a `@Named` binding in Guice.

[2018-03-21 20:26] #37 closed

[2018-03-21 20:42] twicksell opened #40 "Missing support for `@BindingAnnotation` and `@Qualifier`"
SpringModule should check for beans annotated with `@BindingAnnotation` or `@Qualifier` and pass those forward when creating bindings.

[2018-03-28 16:36] #40 closed

[2018-08-13 15:08] lnapolillo opened #43 "Release request"
Hello! I was wondering if there is a release version for the changes discussed in issue #12

[2018-08-13 16:33] #43 closed

[2018-08-13 17:23] twicksell opened #44 "BindingAnnotation support doesn't work with multiple bindings of the same type"
Using Guice `@Named` on two beans of the same type will result in no primary bean definition, even though it *should* be specific enough for Guice.

Additionally, SpringModule duplicate binding prevention is unaware of binding annotations, causing annotated bindings for the same type to be discarded.

[2018-12-06 20:09] madwed opened #47 "License"
What is the the License for SpringGuice?

[2019-01-04 02:00] ThrawnCA opened #48 "Providers are not exposed correctly when layering Spring and Guice"
If a Spring configuration imports a Guice module with `@EnableGuiceModules`, and that module binds a `Provider`, but the Spring configuration is in turn packaged in a `SpringModule`, then the "outer" injector cannot see the bound `Provider`.

We're attempting to migrate an application from Guice to Spring in stages, and this is a minor hindrance. Modules that just bind classes can simply be import

[2019-01-08 21:42] twicksell commented on #48
So I understand a Spring config which uses `@EnableGuiceModules` to work with legacy Guice library code. And I understand `SpringModule` being used when you have Spring code to be used in a Guice-based application. But I don't understand having a Spring config with `@EnableGuiceModules` that is then packed inside of a `SpringModule`.

Wouldn't it be simpler for those modules binding `Provider` typ

[2019-01-08 21:44] twicksell commented on #47
Apache License, Version 2.0

[2019-01-08 21:54] #44 closed

[2019-01-08 22:44] ThrawnCA commented on #48
We use Guice-Servlet, Guice-Persist, and Guice-Struts. So, we extend ServletModule and set up a PersistFilter, which will manage transactions on each request, then StrutsPrepareFilter and StrutsExecuteFilter.

What we would actually like to do is replace Struts with Spring MVC. However, we would then need to inject a bunch of Guice-controlled objects into our Spring controllers. We could perhaps d

[2019-01-08 23:06] twicksell commented on #48
There are some merged but unreleased changes that may help with parameterized types being lost, but I'll need @dsyer's help in getting a release out.

I'll see if I can reproduce this issue and make up a fix, but if you have the time and can submit a simplified test case that might speed things along.

[2019-01-09 16:42] dsyer commented on #47
https://github.com/spring-projects/spring-guice/blob/05fe354cfcf0fc8ed172923db44ef2451d8a163e/pom.xml#L144

[2019-01-09 16:42] #47 closed

[2019-01-10 15:48] twicksell commented on #48
I would think so. We've been testing these last set of changes for a while now and it seems fairly stable.

[2019-01-10 17:47] dsyer commented on #48
Done (1.1.3.RELEASE is out). We can keep this issue open in case @ThrawnCA can provide a sample.

[2019-01-19 23:54] sanitas2 opened #49 "Duplicated module's configure call"
I am having some doubts about spring-guice running with spring boot 2.1.2. I think my use case is quite basic - I want to autowire some classes from guice module and use them in spring application. To do so I created:

[code]

That allows me to inject module's services in spring application. The issue I am experiencing is that logs show that module's configure method is called twice. I assume it s

[2019-01-20 04:48] twicksell commented on #49
We use Guice's ElementVisitor API which will invoke the configure method. It'll also be invoked by the injector itself when Spring Guice is initialized. This usually shouldn't be a problem. The suggestion from Guice is that modules should be "fast and side-effect free" (https://github.com/google/guice/wiki/ModulesShouldBeFastAndSideEffectFree).

If you have some logic inside of your module that ca

[2019-01-20 10:44] sanitas2 commented on #49
Thank you for clearing this up and for quick response.

I don't have such side logic, it just seemed suspicious to see those calls duplicated. If that's expected I am fine with that (I was worried I did some mistake). Anyway, I would consider mentioning this behavior in readme. Thanks.

[2019-01-20 10:44] #49 closed

[2019-01-24 20:51] twicksell opened #50 "Add support for filtering Guice modules"
It is sometimes useful to be able to prevent a module from being handed to the injector. Typically this comes about when you install a Guice module you want, which transitively installs some other module you may not want.

In our case, we have a number of legacy modules replaced by Spring native code. We want to filter them from being applied to the Injector as they have undesirable side effects.

[2019-01-24 20:56] twicksell opened #52 "Enhance "source" attribute of bindings"
Currently the "source" attribute for bindings created by Spring Guice is set to "spring-guice". It would be useful to enhance this to incorporate info from the actual bean definition as to where the bean was specified.

[2019-02-16 02:49] jeep87c opened #53 "Spring Data JPA support"
I'm trying to configure Guice with Spring Data JPA to inject bootstrapped JPA repositories using your library but it doesn't work out of the box and I can't find any example doing so.

Any help would be much appreciated.

Please see the following [stack overflow question](https://stackoverflow.com/questions/54712566/how-to-setup-spring-data-jpa-with-google-guice) for all details and code snippets

[2019-02-21 03:12] jeep87c commented on #53
If anyone ends here looking for an answer, go take a look to the stack overflow question above.

[2019-02-21 03:12] #53 closed

[2019-02-25 22:19] davidjayb opened #54 "Release notes / changelog for 1.1.3.RELEASE"
Are there any release notes for this version?

[2019-03-06 21:04] #50 closed

[2019-03-11 23:49] twicksell opened #57 "All beans created from Guice bindings are mapped as Singletons"
All beans created from Guice bindings are mapped as Singletons, regardless of their defined scope. As a start, I suggest mapping these as prototype (when not explicitly defined as Singletons) such that Spring will consult the injector whenever it wants an instance.

This will not cover all cases, but it should be an improvement. Long term we may be able to actually invoke the scope of the binding

[2019-03-13 22:38] #57 closed

[2019-05-03 21:49] twicksell opened #61 "Guice BindingAnnotations not treated as Spring Qualifiers"
In Spring managed classes, injecting a Guice Binding annotated with a `@BindingAnnotation` does not work. `@BindingAnnotation`s are not being treated as `@Qualifier`s for Spring.

[2019-05-06 17:03] #61 closed

[2019-07-31 09:32] rrajendran opened #65 "Set multibinder autowiring not working"
I am trying to Autowire Multiset binder from guice with below example. Any help would be helpful.. thanks

**Car.java**
[code]

**Audi.java**

[code]

**Benz.java**
[code]

**AutomobileModule.java**
[code]

**SpringGuiceConfig.java**

[code]

**Tests**
[code]

Running above tests getting below.
[code]

[2019-07-31 19:14] twicksell commented on #65
Thanks for the test case. I see whats happening here in that the name we generate for the bean doesn't use the concrete class, but only the interface and its qualifiers. Since you don't have any qualifiers set, and you're using the newer versions of Spring which disallow bean overriding by default, you'll hit this error. You could consider setting the property `spring.main.allow-bean-definition-ov

[2019-08-01 09:25] rrajendran commented on #65
**Step1**
After adding the above property, got the below error for missing

`No implementation for javax.xml.parsers.DocumentBuilderFactory was bound.`

[code]
**Step2**
Added below dependency
[code]

[2019-09-23 10:25] primoze opened #67 "Guice and Actuator: No implementation for Map<String, CacheManager> was bound"
Hi.
I have an issue using actuator and spring-guice. If actuator is in the dependencies I get 'WebServerException: Unable to start embedded Tomcat'. If I remove the actuator dependency it works fine. If I remove spring-guice it also works fine.

The specific guice exception is `1) No implementation for java.util.Map<java.lang.String, org.springframework.cache.CacheManager> was bound.
  while locat

[2019-10-25 16:34] dsyer commented on #67
Interesting. It works for me with Spring Boot 2.2, probably because the cache actuator is disabled by default. Maybe you could disable it in 2.1 as well as a workaround (but obviously upgrade is a good idea as well)?

[2019-10-25 16:57] dsyer commented on #67
Actually, it also works for me with Spring Guice 1.1.14 snapshots, so I expect one of the other fixes has resolved this issue as well. I'm just waiting for @twicksell to ask for a release.

[2019-11-11 12:11] primoze commented on #67
@dsyer Thanks, I'll give it a shot.

[2019-11-19 10:59] #67 closed

[2019-11-28 21:02] avmohan opened #75 "Configuration class enhancement does not work"
Warning messages of below form are printed to the console.

CgLib proxying of `@Configuration` class objects does not work since their instances are created too early. As a result the special behavior on the `@Bean` methods don't work. Is this a known limitation?

[2019-12-11 18:13] saturnism commented on #67
hiya @dsyer ! what's the timeline for 1.1.4 release? i have a project which ran into the same issue. thnx!

[2019-12-11 18:30] twicksell commented on #67
@dsyer we've tested all of the major changes on our end. I think a release is safe whenever you're ready.

[2019-12-11 18:37] dsyer commented on #67
I have it staged to Central. Do you want #76 to be fixed?

[2019-12-11 18:46] twicksell commented on #67
Yes, good catch. That one has been running for a little while now and did fix an issue. Its been merged.

[2019-12-11 19:35] dsyer commented on #67
Ok. That’s done. Syncing to Central now.

[2019-12-11 19:53] saturnism commented on #67
thanks! :D

[2020-08-17 20:30] twicksell opened #78 "JIT bindings throw NoSuchBeanDefinitionException on each invocation"
JIT bindings, which are provided by a lazy proxy to the Guice injector, can throw `NoSuchBeanDefinitionException` exceptions on each interaction with the proxy, resulting in performance issues.

[2020-08-17 21:45] #78 closed

[2020-08-24 22:59] twicksell opened #80 "Prototyped Scope not working for Spring defined beans injected in Guice"
SpringModule.BeanFactoryProvider incorrectly caches the results of Prototype scoped beans when providing bindings to Guice which are backed by Spring beans.

[2021-02-09 09:48] #80 closed

[2021-07-08 01:39] richwxd opened #87 "Update dependendencies and release 2.0.0"
Only dependentbot update the dependencies. But actually both guide and spring are outdated. The project cannot work well nowadays. Maybe developers can fork them maintain separately.

[2021-11-05 17:07] dsyer commented on #75
It might be. Maybe you could describe your use case in more detail? Post some code or refer to a test case in the project?

[2021-11-05 17:09] dsyer commented on #87
I'm not sure it matters about the Spring dependency. If we want a version that compiles and depends on Guice 5.x we would probably need to go to 2.0.0 with this project. I don't have any objection to that, but it would be good to hear some more opinions. There used to be a group at Netflix that was motivated to contribute to this project, but I'm not sure if they need it any more.

[2021-12-10 19:22] avmohan commented on #75
Sorry I don't have any context on this any more as this was around 2 years back

[2021-12-16 16:08] miremond opened #90 "Add support for ThrowingProvider"
Hi,

We have a big codebase using Guice and wanted to use our Guice bindings in a SpringBoot app.
I encountered an issue because we use Throwing providers https://github.com/google/guice/wiki/ThrowingProviders.
When one of these bindings is resolved to a Spring bean name, it is always the same: `com.google.inject.internal.UniqueAnnotations$Internal`. Therefor multiple throwing providers cause a cl

[2022-02-16 02:07] simondemartini commented on #87
I think an update bumping Guice and Spring would be worthwhile.

Since the upcoming Spring 6 release will require Java 17, we should prep for that by upgrading to Guice 5.1.0+, since that's the first version of Guice that supports 17

[2022-02-16 10:55] richwxd commented on #87
Is there a new smart gradle way to solve the version issue? In maven, the "dependency version" is a bit complex and boring.

[2022-02-16 11:35] dsyer commented on #87
What is the "version issue"? I'm not sure what you are getting at.

[2022-02-16 13:29] richwxd commented on #87
It is just my feel when using spring-boot for multi-modules project. Maybe make spring-guice keeping up with spring-boot version is a good way. Otherwise when use this spring-guice, we must exclude old spring, mannually add new spring. Another point, we need some more examples to understand spring-guice deep.

[2022-02-16 15:01] simondemartini commented on #87
Looks like someone has started a PR to get it up to Guice 5.0.1 a few months ago. Should be fairly straightforward to bump that to 5.1.0

https://github.com/spring-projects/spring-guice/pull/89

If the original author isn't around anymore I can try to take a stab at it some time

[2022-02-16 15:08] simondemartini opened #91 "Upgrade to Guice 5.1.0"
Guice 5.1.0 is the first version to fully support Java 17, so it seems that with Spring's upcoming requirement for Java 17, we should prefer that here too.

[2022-02-16 15:10] simondemartini commented on #87
Created https://github.com/spring-projects/spring-guice/issues/91

[2022-02-21 02:32] simondemartini opened #93 "Support Java 17"
As noted in #92, we should prepare spring-guice to natively support java 17. A quick test locally seems like we'll probably need upgrade Guice (see #92), Spring and some test utils.

[2022-03-18 00:52] simondemartini commented on #87
@dsyer I created I couple PRs for the upgrades. Would you be able to take a look at those?

And if those are merged, what would the process be to get those released? Would we want to include anything else?

[2022-03-18 06:25] dsyer commented on #87
The release process should be easy (automatic) if we can decide on a feature set and version number. The big question is compatibility with Guice and Spring versions. I will have a look through the issue list and see if anything else seems important (but my inclination is to just release something). Other opinions are welcome.

[2022-03-18 08:28] #93 closed

[2022-03-18 08:29] #91 closed

[2022-03-18 08:32] dsyer commented on #87
One option since the version of Spring doesn't have any impact on tests (it works from 5.1 to 5.3 anyway) would be to simply make the Spring dependency optional. Users could then match spring-guice with any version they like (including the latest Spring Boot) and it should just work.

[2022-03-18 17:32] dsyer commented on #75
I saw a bunch of those warnings when I ran the tests today, so I don't think it has gone away. Probably needs some care isolating the issue.

[2022-03-18 17:57] simondemartini commented on #87
Yeah I could be on board with making Spring optional, we've actually been running spring-guice 1.x with Spring 5.3 and Guice 4.x for a while without issues. But it's also easy enough to override the spring version anyway 🤷

I'm ok just releasing what we have for 2.0.0, but I can take a look at the issue list today too if you'd like help

[2022-03-19 16:42] simondemartini opened #97 "Adopt spring-javaformat"
For the sake of consistency with other spring projects, we should investigate using [spring-javaformat](https://github.com/spring-io/spring-javaformat) to set common formatting and checkstyle rules.

[2022-03-19 18:07] simondemartini commented on #87
Ended up creating #97 and some PRs for that if we want to include those in 2.0.0 while we're in here. Unless someone else has some stuff to get in before we release, then I'd vote for just getting 2.0.0 out sooner than later too.

Happy to help verify or contribute anything too

[2022-03-20 16:34] dsyer commented on #97
Closed with #98

[2022-03-20 16:34] #97 closed

[2022-03-20 16:37] dsyer commented on #87
I'm readyish for a release. In addition to the decision on making Spring an optional dependency, I'd like to circle back on #75. I remember having some conversations about it with Taylor a long time ago and slightly reluctantly realizing we might not be able to fix it - it's a bit like some other Spring annotations in that they inevitably lead to early initialization of `@Configuration` classes. B

[2022-03-20 22:53] simondemartini commented on #75
Is this is due to `Module` beans being initialized with the `getBeansOfType(Module.class)` here? https://github.com/spring-projects/spring-guice/blob/c22fb6a976875abd006d2bff9e82a8a934bc1a03/src/main/java/org/springframework/guice/annotation/ModuleRegistryConfiguration.java#L105

If we can't get rid of that early init, would it be reasonable to just log a more clear warning to recommend that `Modu

[2022-03-21 08:43] dsyer commented on #75
We can't fix this, but we can document the limitations. I cleared up all the tests and added a paragraph to the README in c22fb6a.

[2022-03-21 08:43] #75 closed

[2022-03-21 08:58] dsyer commented on #54
Sorry. Just the commit logs.

[2022-03-21 08:58] #54 closed

[2022-03-21 09:28] #87 closed

[2022-03-21 16:08] miremond commented on #90
Hello Dave,

Thank you for your response. I submitted a PR. FYI my implementation is not exactly the one that I described.

Thank you

[2022-05-09 15:28] swatro opened #102 "Using Guice Named components in Spring when using the PartiallyRefreshableApplicationContext"
I have a Named Guice component coming from a Guice Module. I then have a Spring component which autowires in the Named Guice component using a qualifier. The Spring component is added to the Guice context using a SpringModule. We are using a BeanFactoryProvider to create the Spring module which should allow layering of Spring and Guice components.

From looking at the library code, I believe this

[2022-05-17 09:22] dsyer commented on #102
Fixed in #103

[2022-05-17 09:22] #102 closed

[2022-10-06 09:04] dsyer commented on #65
I believe `GuiceAutowireCandidateResolver` will take care of this now. That was introduced in another context, but it works for this use case (but not for `ApplicationContext.getBean(Benz.class)`), so I think that provides parity with Guice native bindings.

[2022-10-06 09:09] #65 closed